body{
    background-color: rgb(70, 70, 70);
    color: white;
    font-family: 'Courier Prime', monospace;
}

nav ul{
    background-color: rgb(56, 56, 56);
    display: flex;
    border-radius: 3px;
    flex-wrap: wrap;
}
nav ul li{
    background-color: rgb(70, 70, 70);
    margin: 8px 15px;
    padding: 10px 20px;
    list-style-type: none;
    border-radius: 3px;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul li :hover{
    color: yellow;
}
nav ul div{
    padding: 5px 0px;
    margin: 10px;
    float: right;
}
h1{
    text-align: center;
}
.movie, .movietiles, .tvseries{
    border:black;
    border-radius: 20px;
    background-color: rgb(56, 56, 56);
    margin: auto 10%;
    padding: 20px;
}

.rating, .cast, .description, h2 ,.movieitem{
    background-color: rgb(70, 70, 70);
}
.still, .trailer, .shortfilm{
    display: block;
    max-width:100%;
    max-height:100%;
    margin: 0 auto;
}
#netflix, #nextmonth{
    float: right;
    margin-right: 25px;
}
#amazon, #previousmonth{
    margin-left: 25px;
}
#tileview{
    float: left;
    position: sticky;
    bottom: 20px;
    left: 20px;
}
#expandedview{
    display: flex;
    justify-content: center;
}
.poster
{
    width: 200px;
    height: 260px;
    display: block;
    margin: auto;
}
.movietiles :hover{
    color: yellow;
}
button a{
    text-decoration: none;
    color: black;
}

.box{
    display: inline-flex;
    background-color: rgba(19, 51, 70, 0.5);
    width: 250px;
    height: 250px;
    border-radius: 10px;
    padding: 10px;
    margin: 15px;
    justify-content: center;
    text-align: center;
}
.topbutton{
    position: sticky;
    background-color: rgb(122, 122, 122);
    width: 50px;
    height: 50px;
    text-align: center;
    float: right;
    bottom: 20px;
    right: 20px;
    font-size: 2.5em;
    line-height: 50px;
 }
 .topbutton a{
     text-decoration: none;
     color: white;
 }