body{
    background-color: rgb(31, 31, 31);
    color: white;
}

nav ul{
    background-color: tomato;
    display: flex
}
nav ul li{
    background-color: teal;
    margin: auto 25px 
}
nav ul li a{
    list-style-type: none;
}