body{
    background-color: rgb(70, 70, 70);
    color: white;
}

nav ul{
    background-color: rgb(46, 45, 45);
    display: flex;
    height: 35px;
}
nav ul li{
    background-color: rgb(110, 110, 110);
    margin: 0 25px;
    padding: 5px 20px;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
nav ul div input{
    padding: 5px 20px
}
