body{
    background-color: rgb(51, 50, 50);
    color: white;
}

nav ul{
    background-color: tomato;
    display: flex
}
nav ul li{
    background-color: rgb(83, 83, 83);
    margin: 0 25px;
    list-style-type: none;
}
nav ul li a{
    text-decoration: none;
    color: white;
}
